
.icon-user-outline:before { content: '\e800'; } /* '' */
.icon-empire:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-download:before { content: '\e805'; } /* '' */
.icon-history:before { content: '\e806'; } /* '' */
.icon-left-open-mini:before { content: '\e807'; } /* '' */
.icon-right-open-mini:before { content: '\e808'; } /* '' */
.icon-left-open-big:before { content: '\e809'; } /* '' */
.icon-right-open-big:before { content: '\e80a'; } /* '' */
.icon-up-open-big:before { content: '\e80b'; } /* '' */
.icon-down-open-big:before { content: '\e80c'; } /* '' */
.icon-play-outline:before { content: '\e80d'; } /* '' */
.icon-pause-outline:before { content: '\e80e'; } /* '' */
.icon-home-outline:before { content: '\e80f'; } /* '' */
.icon-home:before { content: '\e810'; } /* '' */
.icon-monitor:before { content: '\e811'; } /* '' */